@using EMarket.Core.Application.ViewModels.Advertisements;
@model SaveAdvertisementViewModel
@{
    bool editMode = Model.Id == 0 ? true : false;
    ViewData["Title"] = "Save Advertisement";
}

<div class="row">
    <div class="col-5 offset-3">
        <div class="card shadow-sm">
            <div class="card-header bg-dark text-light">
                <h4>@(editMode ? "Create a Advertisement" : $"Editing the Advertisement: {Model.Name}")</h4>
            </div>
            <div class="card-body">
                @if (Model.Categories == null || Model.Categories.Count == 0)
                {
                    <h5>No categories created.</h5>

                    <div class="container-fluid text-center mt-4">
                        <a asp-controller="Advertisement" asp-action="Index" class="btn btn-secondary shadow-sm">Back</a>
                    </div>
                }
                else
                {
                    <form method="post" asp-controller="Advertisement" asp-action="@(editMode ? "Create" : "Edit")" enctype="multipart/form-data">

                        <input type="hidden" asp-for="Id" />

                        <div class="form-group row mb-3">
                            <div class="col">
                                <label asp-for="Name" class="form-label">Name: </label>
                                <input type="text" asp-for="Name" placeholder="Enter a name..." class="form-control shadow-sm">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Price" class="form-label">Price:</label>
                                <input type="number" step="any" asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <div class="col">
                                <label asp-for="Description" class="form-label">Description:</label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <div class="col">
                                <label asp-for="File" class="form-label">Select a file:</label>

                                @if (editMode)
                                {
                                    <input required asp-for="File" class="form-control" />
                                }
                                else
                                {
                                    <input asp-for="File" class="form-control" />
                                }

                                <span asp-validation-for="File" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <div class="col">
                                <label asp-for="CategoryId" class="form-label">Categories:</label>
                                <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories,"Id","Name"))" class="form-select">
                                    <option value="0">Select an option</option>
                                </select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="container-fluid text-center">
                            <button type="submit" class="btn btn-success shadow-sm">Save</button>
                            <a asp-controller="Advertisement" asp-action="Index" class="btn btn-secondary shadow-sm">Cancel</a>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>



@*<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>@(editMode ? $"Editing the advertisement: {Model.Name}" : "Create a new advertisement")</h4>
                </div>
                <div class="card-body">

                    @if (Model.Categories == null || Model.Categories.Count == 0)
                    {
                        <h4>No categories created.</h4>
                        <a asp-controller="Advertisement" asp-action="Index" class="btn btn-warning">Back</a>
                    }
                    else
                    {
                        <form method="post" asp-controllerAdvertisement" asp-action="@(editMode ? "Edit" : "Create")" enctype="multipart/form-data">

                            <div class="mb-3">
                                <label asp-for="Name" class="form-label">Name:</label>
                                <input type="text" asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Description" class="form-label">Description:</label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Price" class="form-label">Price:</label>
                                <input type="number" step="any" asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="File" class="form-label">Select a file:</label>
                                @if (editMode)
                                {
                                    <input asp-for="File" class="form-control" />
                                }
                                else
                                {
                                    <input required asp-for="File" class="form-control" />
                                }

                                <span asp-validation-for="File" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="CategoryId" class="form-label">Categories: </label>
                                <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories,"Id","Name"))" class="form-select">
                                    <option value="0">Select an option</option>
                                </select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>

                            <input type="hidden" asp-for="Id" />

                            <button type="submit" class="btn btn-primary">Save</button>
                            <a asp-controller="Advertisement" asp-action="Index" class="btn btn-warning">Back</a>

                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>*@
